.article-card-body {
  display: flex;
  flex-direction: column;
  width: 40rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: bisque;
}

.article-card-picture {
  width: 15rem;
}
