.signform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: #354f52;
  border-radius: 0.5rem;
}

.sign-form-title {
  color: goldenrod;
}

.sign-form-element {
  margin-top: 1rem;
  display: block;
}

.sign-form-input {
  margin-left: 1rem;
}

button {
  margin-top: 1rem;
  width: 20rem;
}

.validate-password {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
