.all-articles-body {
  display: flex;
  flex-direction: column;
}

.all-articles-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-articles-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.blank-separator {
  height: 5rem;
}
